p{
    margin: 0;
}
.wyy-margin-auto{
    margin:auto;
}
.wyy-flex{
    display:flex;
}
.wyy-flex-space{
    justify-content: space-between;
}

.wyy-align-center{
    align-items: center;
}

.wyy-flex-center{
    justify-content: center;
}
.wyy-nav-active{
    background: black;
}

